body{
    font-family: 'Montserrat', sans-serif;
}
.formulario{
    // background-color: #f6f6f6;
    // text-align: center;
    width: 200px;
    margin: 10px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    .form-label{
        margin-bottom: 0px;
        font-weight: 600;
        
    }
}