body{
    font-family: 'Montserrat', sans-serif;
}

.formulario{
    background-color: #f6f6f6f6;
    border-radius: 25px;
    text-align: center;
    width: 400px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form-label{
        margin-bottom: 0px;
        font-weight: 600;
        
    }
    font-family: 'Montserrat', sans-serif;
  
   
}